:root {
  --mint: #e3f7f1;
  --teal: #005866;
  --text: #242424;
  --gray: #d9d8d6;
  --light: #e5e5e5;
  --off: #fafafa;
  --bold: 'Roobert-Bold', sans-serif;
  --semi: 'Roobert-SemiBold', sans-serif;
}

#s4-workspace {
  overflow-x: hidden;
  height: 100%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  line-height: 1.6;
  color: var(--text);
}

.row.justify-content-center {
  display: flex;
  justify-content: center;
}
.btn {
  font-family: var(--semi);
  font-size: 16px;
  text-decoration: none !important;
  transition: 250ms all ease;
  min-width: 160px;
}
.btn.btn-lg {
  font-size: 18px;
}
.btn.btn-primary.white {
  background-color: #fff;
  color: #005b66;
  border-color: #fff;
}

.btn.btn-primary.white:hover {
  background-color: transparent;
  color: #fff;
}
.btn.btn-primary.disabled {
  color: var(--text);
  background-color: var(--gray);
  border-color: transparent;
  opacity: 1;
}
.arrow-btn {
  font-family: var(--semi);
  font-size: 17px;
  text-decoration: none !important;
  display: flex;
  align-items: center;
}

.arrow-btn:after {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='%23005866' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  height: 12px;
  width: 6px;
  transition: 250ms all ease;
  margin-top: 0.45rem;
  content: ' ';
  margin-left: 1rem;
}

.arrow-btn.white:after {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='%23FFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.arrow-btn.white:hover {
  color: #fff;
}

.arrow-btn:hover:after {
  transform: translateX(10px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-top: 0;
}

p {
  line-height: 1.6 !important;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

strong {
  font-weight: 700;
}

p a {
  font-family: var(--semi);
  text-decoration: underline;
}

#banner {
  background-color: #ffdd00;
  padding: 0.75rem 0;
  font-family: var(--semi);
}
#banner p {
  margin: 0;
}
#masthead {
  padding: 10rem 0;
  position: relative;
}
#masthead h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
#masthead .button-date {
  margin: 2rem 0;
  display: flex;
  align-items: center;
}
#masthead .button-date .date {
  margin-left: 2rem;
  font-family: var(--bold);
}
#masthead .container {
  z-index: 2;
  position: relative;
}

#masthead .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#masthead .content {
  background: rgba(0, 91, 102, 0.9);
  color: #fff !important;
  padding: 4rem 3rem;
  backdrop-filter: blur(20px);
  position: relative;
  z-index: 2;
}

#masthead .down-arrow {
  position: absolute;
  bottom: -3rem;
  color: #003b42;
  font-weight: 600;
}

#masthead .image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 680px;
  width: 100%;
  z-index: 1;
}

#masthead .image img {
  width: 160%;
  height: 100%;
  object-fit: cover;
  object-position: bottom right;
}
#masthead p a {
  color: #fff;
}
.title-row {
  display: flex;
  margin-bottom: 2rem;
}

.title-row h1 {
  width: 500px;
  font-size: 3rem;
}

.title-row .details {
  width: 300px;
  border-left: 1px solid #fff;
  padding-left: 3rem;
}

.details,
.details .stat {
  display: flex;
  flex-direction: column;
}

.contact-info {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: var(--off);
}

.contact-info h3 {
  margin-bottom: 2rem;
}

#intro {
  position: relative;
  margin-top: 5rem;
}

#intro h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

#intro img {
  width: 100%;
  max-width: 750px;
  height: auto;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

/* #intro .content {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  margin-top: -8rem;
  padding: 3rem 1.6rem;
  width: 100%;
} */
#intro .content {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  margin-top: 20rem;
  padding: 3rem 1.6rem;
  width: 100%;
}

#small-consultation .content {
  background-color: var(--off);
  margin-top: 5rem;
  margin-bottom: -12rem;
  padding: 4rem;
  position: relative;
  z-index: 2;
}
#small-consultation .content .list-item {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid var(--gray);
}
#small-consultation .content .list-item:first-of-type {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}
#small-consultation .content h3 {
  margin-bottom: 2rem;
}
#small-consultation .content h4 {
  margin-bottom: 0;
}
#small-consultation .content .btn-group {
  display: flex;
}
#small-consultation .content .btn-group a {
  margin-right: 2rem;
}
#map {
  margin: 3rem 0 5rem;
  position: relative;
  text-align: center;
}
#map h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}
#map h3 {
  font-size: 3rem;
  margin: 2rem 0 5rem;
}
#map .text-center {
  margin-bottom: 3rem;
}
#map .d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 3rem 0 5rem;
  background-color: var(--off);
  padding: 3rem;
  width: 100%;
  max-width: 960px;
}
#map .d-flex p {
  width: 70%;
  margin-bottom: 0;
  text-align: left;
}

#map .map-link-large,
#map .map-link-small {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}
#map .map-link-large img,
#map .map-link-small img {
  opacity: 1;
  transition: 250ms all ease;
}
#map .map-link-large img {
  margin-bottom: 2rem;
}
#map .map-link-small img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
#map .map-link-large {
  margin-bottom: 5rem;
}
#map .map-link-large:hover,
#map .map-link-small:hover {
  text-decoration: none;
}
#map .map-link-large:hover img,
#map .map-link-small:hover img {
  opacity: 1;
}
#map .map-link-large:hover .arrow-btn:after,
#map .map-link-small:hover .arrow-btn:after {
  transform: translateX(10px);
}
#map .map-link-small .content {
  background-color: var(--off);
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 250ms all ease;
}
#map .map-link-small:hover .content {
  background-color: var(--mint);
}
#map .map-link-small .content h6 {
  color: var(--text);
  font-size: 1.5rem;
}
#map #square {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
}
#open-house {
  margin: 10rem 0 5rem;
  position: relative;
}

#open-house h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
  max-width: 300px;
  margin-left: 0;
}
#open-house .image-text {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}
#open-house .image-text .image {
  height: 400px;
}
#open-house .image-text .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#open-house .btn.disabled {
  margin: 1rem 0 0;
}
#open-house .button-date {
  margin: 2rem 0 3rem;
  display: flex;
  align-items: center;
}
#open-house .button-date .date {
  margin-left: 2rem;
  font-family: var(--bold);
}
#timeline {
  background-color: var(--mint);
  padding: 15rem 0 5rem;
  position: relative;
  margin-top: 5rem;
  margin-bottom: 0 !important;
}
#timeline #circle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
#timeline h2 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 5rem;
}

#timeline .timeline .milestone:before {
  content: '';
  height: 100%;
  width: 2px;
  background-color: var(--teal);
  display: block;
  position: absolute;
  left: 191px;
  margin: auto;
}

#timeline .timeline .milestone {
  display: flex;
  position: relative;
  padding-bottom: 5rem;
  font-size: 1.5rem;
  font-weight: 600;
}
#timeline .timeline .milestone.current {
  font-family: var(--bold);
}
#timeline .timeline .milestone.current:after {
  background-color: #6ed7b7;
}
#timeline .timeline .milestone:last-of-type:before {
  content: none;
}
#timeline .timeline .milestone .date {
  font-family: var(--bold);
  text-align: right;
  width: 150px;
  display: block;
}

#timeline .timeline .milestone:after {
  content: ' ';
  position: absolute;
  display: block;
  background-color: var(--teal);
  height: 24px;
  width: 24px;
  border-radius: 25px;
  left: 180px;
  top: 0;
}

#timeline .timeline .milestone .description {
  margin-left: 100px;
  width: 400px;
}
.accordion-toggle {
  cursor: pointer;
  padding: 2rem;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
}

.accordion-toggle .button {
  position: relative;
  width: 16px;
  height: 16px;
  /* Vertical line */
  /* horizontal line */
}

.accordion-toggle .button:before,
.accordion-toggle .button:after {
  content: '';
  position: absolute;
  background-color: #d7d7d7;
  transition: transform 0.25s ease-out;
}

.accordion-toggle .button:before {
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
}

.accordion-toggle .button:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  margin-top: -1px;
}

.accordion-toggle.active {
  color: #005b66;
}

.accordion-toggle.active .button {
  cursor: pointer;
}

.accordion-toggle.active .button:before {
  transform: rotate(90deg);
}

.accordion-toggle.active .button:after {
  transform: rotate(180deg);
}

.accordion-toggle.active .button:before,
.accordion-toggle.active .button:after {
  background-color: #005b66;
}

.accordion-toggle div {
  display: inline-block;
  font-weight: 400;
}

.accordion-content {
  display: none;
  margin-bottom: 3rem;
  padding: 2rem;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.4);
}

@media screen and (min-width: 1920px) {
  #intro img {
    max-width: 850px !important;
  }
}

@media screen and (min-width: 1200px) {
  #feedback h2 {
    font-size: 3.5rem;
  }
  .h1-scroll-div {
    background-color: #f1f1f1;
    margin: 0 auto;
    padding: 1rem;
  }

  #masthead .image {
    width: 60%;
  }

  .contact-info {
    margin-bottom: 2rem;
  }

  #masthead .row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  #intro {
    margin-top: 0;
    margin-bottom: 6rem;
  }
  #intro .row {
    display: flex;
    justify-content: flex-end;
  }

  #intro > * {
    flex-grow: 1;
  }
  #intro .content {
    margin-top: 4rem;
    padding: 4rem;
    width: 100%;
    max-width: 600px;
  }

  #intro img {
    max-width: 689px;
    height: 450px;
  }

  #map .d-flex {
    flex-direction: column;
  }

  #feedback {
    display: flex;
    margin-bottom: 6rem;
  }

  #feedback img {
    width: 100%;
    max-width: 689px !important;
    height: 500px !important;
    position: absolute;
    right: 0;
    top: 0;
  }

  #feedback .content {
    margin-top: 4rem;
    padding: 4rem;
    width: 100%;
    max-width: 600px !important;
    margin-top: 3rem !important;
  }
}

@media screen and (max-width: 1199px) {
  #feedback .content {
    margin-top: 6rem;
    max-width: 685px;
  }
  #feedback img {
    width: 100%;
    max-width: 689px !important;
    position: absolute;
    right: 0;
    top: 0;
  }
  #consultation .row {
    display: flex;
    flex-direction: column wrap;
    justify-content: center;
  }
  #masthead .image {
    max-width: 1008px;
  }
  #intro img {
    height: auto !important;
  }

  #masthead {
    padding-bottom: 0rem;
  }

  #masthead .row {
    display: flex;
    flex-flow: row wrap;
  }
}

@media screen and (max-width: 991px) {
  #feedback h2 {
    font-size: 3rem;
  }
  #intro .container {
    width: 100%;
  }

  #intro img {
    max-width: 600px;
  }

  #intro .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #intro .content {
    width: 100%;
    max-width: 750px;
    padding: 3rem;
  }

  #open-house .image-text {
    flex-direction: column-reverse;
  }
  #open-house h2 {
    margin-top: 3rem;
  }
  #masthead {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  #masthead h2 {
    font-size: 2.5rem;
  }
  .title-row h1 {
    width: 60%;
    padding-right: 4rem;
  }
  .title-row .details {
    width: 40%;
  }
  #masthead .row {
    flex-direction: column;
  }
  #masthead .image {
    width: 100%;
    position: relative;
    height: 400px;
  }
  #masthead .content {
    margin-top: -10rem;
  }
  .row.justify-content-center {
    display: block;
  }
  .contact-info {
    text-align: center;
  }
  #map .d-flex {
    flex-direction: column;
    text-align: center;
    margin-bottom: 1rem;
  }
  #map .d-flex p {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  #timeline .timeline .milestone:before {
    left: 10px;
  }
  #timeline .timeline .milestone:after {
    left: -1px;
  }
  #timeline .timeline .milestone {
    padding-left: 4rem;
    flex-direction: column;
  }
  #timeline .timeline .milestone .date {
    width: 100%;
    text-align: left;
  }
  #timeline .timeline .milestone .description {
    margin-left: 0;
  }
  #timeline .timeline .milestone .description {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .tips .tip .content {
    padding: 2rem 3rem;
  }

  .tips .tip .content p {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  #open-house .image-text .image {
    height: 300px;
  }
}

@media screen and (max-width: 575px) {
  #feedback .content {
    margin-top: 20rem;
  }
  #feedback h2 {
    font-size: 2.1rem;
  }
  .timeline {
    padding: 0 1.6rem;
  }
  #masthead .button-date {
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  #masthead .button-date .date {
    margin-left: 0;
  }
  .title-row {
    flex-direction: column;
  }
  .title-row h1 {
    width: 100%;
    padding-right: 0;
    font-size: 2.5rem;
  }
  .title-row .details {
    width: 100%;
    padding-left: 0;
    border: none;
    flex-direction: row;
  }
  .title-row .details .stat:first-of-type {
    margin-right: 2rem;
  }
  #masthead {
    margin-bottom: 0;
  }

  #masthead .image {
    width: 100%;
    height: 400px;
  }
  #map h2,
  #open-house h2,
  #timeline h2 {
    font-size: 2.5rem;
  }
  #map .map-link-large img,
  #map .map-link-small img {
    height: 220px;
  }
  #small-consultation .content .btn-group {
    flex-direction: column;
  }
  #small-consultation .content .btn-group a {
    font-size: 14px;
    margin-bottom: 1rem;
    position: relative;
    padding-right: 1rem;
  }
  #small-consultation .content .btn-group .arrow-btn:after {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

/* Extended */
.drop-shadow {
  text-shadow: -2px 2px rgba(0, 0, 0, 0.25);
}

.cta-register {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  margin-top: 3rem;
}

.cta-register h3 {
  font-size: 2rem;
  flex-grow: 2;
  width: 100%;
}

.cta-register a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
  color: var(--teal);
  font-size: 1.5rem;
  font-weight: 600;
  flex-grow: 1;
  width: 300px;
  height: 48px;
}

/*  */

.feed-image {
  position: relative;
  width: 750px;
}

#feedback img {
  object-fit: cover;
  width: 100%;
  max-width: 750px;
  height: 350px;
  object-postion: top center;
}

#feedback {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

#feedback .content h2 {
  margin-bottom: 2rem;
  font-weight: var(--bold);
}

#feedback .content {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);

  padding: 4rem 3rem;
  width: 100%;
}

/* consultation section */
.notice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 639px;
  background-color: var(--off);
  margin-top: 5rem;
  margin-bottom: -15rem;
  padding: 4rem;
  position: relative;
  z-index: 2;
}

.notice h3 {
  font-size: 2.4rem;
}

.notice h4 {
  font-size: 1.8rem;
  margin-top: 10px;
}

.notice p {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}

.notice-btn {
  margin-top: 1.8rem;
}

/* light version of the button with arrow */

.arrow-btn-white {
  font-family: var(--semi);
  font-size: 1.8rem;
  text-decoration: none !important;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  max-width: 200px;
}

.arrow-btn-white:after {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  height: 12px;
  width: 6px;
  transition: 250ms all ease;
  margin-top: 0.45rem;
  content: ' ';
  margin-left: 1.5rem;
}

.arrow-btn-white.white:hover {
  color: #fff;
}

.arrow-btn-white:hover:after {
  transform: translateX(10px);
}

.btn-register a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--teal);
  color: var(--off);
  font-size: 1.5rem;
  font-weight: 600;
  flex-grow: 1;
  width: 300px;
  height: 48px;
  margin-top: 3rem;
}

#heard h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.cta-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
}

.cta-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.35);
  width: 100%;
  max-width: 550px;
  padding: 2rem 1.6rem;
}

.cta-bottom h2 {
  font-size: 2.2rem !important;
  margin-bottom: 1.8rem !important;
  margin-top: 1rem;
}

.cta-bottom p {
  font-size: 1.4rem;
  margin: 0 0 2px !important;
  text-align: center;
}

.cta-bottom a {
  font-size: 1.4rem;
  font-weight: 600;
}

.cta-wrapper .note {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

#consultation .row {
  display: flex;
  justify-content: center;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .container {
    max-width: 960px !important;
  }
}

#intro {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.col-xs-12,
.col-md-10,
.col-lg-9 {
  padding: 0;
}
