/* Base Styles and variables */
:root {
  --mint: #e3f7f1;
  --teal: #005866;
  --text: #242424;
  --gray: #d9d8d6;
  --light: #e5e5e5;
  --off: #fafafa;
  --vibrant: #6ed7b7;
  --yellow: #ffdd00;
  --bold: 'Roobert-Bold', sans-serif;
  --boldItalic: 'Roobert-BoldItalic', sans-serif;
  --semi: 'Roobert-SemiBold', sans-serif;
  --semiItalic: 'Roobert-SemiBoldItalic', sans-serif;
  --regular: 'Roobert-Regular', sans-serif;
  --regularItalic: 'Roobert-RegularItalic', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: var(--regular);
  line-height: 1.6;
  color: var(--text);
  font-size: 1.6 rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-top: 0;
}

p {
  line-height: 1.6 !important;
  font-family: var(--regular);
  font-size: 1.6rem;
}

strong {
  font-weight: 700;
}

a {
  font-weight: bold;
  text-decoration: none;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  display: block;
}

#hero {
  margin-bottom: 4rem;
}

.hero-image img {
  width: 200%;
  height: 100%;
  object-fit: cover;
  object-position: right center;
}

.hero-text {
  background-color: #005866;
  padding: 2.5rem;
  color: white;
}

.hero-text > h1 {
  font-size: 3.6rem;
  margin-bottom: 3rem;
}

.hero-text > h2 {
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
}

/*--------------------------------------------------------------
Virtual Community Open House Card
--------------------------------------------------------------*/
#open-house h2 {
  padding: 1.5rem 2.5rem;
  margin-top: 5rem;
}

.ohcards {
  display: flex;
  flex-flow: column wrap;
  gap: 2.6rem;
}

.ohcard {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: var(--mint);
}

.ohcard-text {
  padding: 2rem 2.5rem;
  text-align: center;
}

.ohcard-text > h3 {
  font-size: 1.85rem;
  margin-top: 1rem;
  font-weight: var(--bold);
}

.ohcard p {
  font-size: 1.5rem;
}

.ohcard a {
  color: #005866;
  font-size: 1.6rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

/*--------------------------------------------------------------
Community Walk Card
--------------------------------------------------------------*/

#walk h2 {
  padding: 1.5rem 2.5rem;
  margin-top: 5rem;
}

.wkcards {
  display: flex;
  flex-flow: column wrap;
  gap: 2.6rem;
}

.wkcard {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: baseline;
  background-color: rgba(227, 247, 241, 0.25);
  padding: 2rem 2.5rem;
  gap: 1.5rem;
}

div.wkcards > article:nth-of-type(odd) {
  background-color: rgba(250, 250, 250, 0.9);
}

.wkcard h2 {
  margin-top: 1rem;
  font-weight: var(--bold);
}

.wkcard p {
  font-size: 1.5rem;
}

.wkcard a {
  color: white;
  font-size: 1.6rem;
  padding: 1rem;
  width: 166px;
  background-color: #005866;
  text-align: center;
}

.wkcard-img {
  max-width: 960px;
  height: 204px;
}

.wkcard-img img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.wkcard h3 {
  margin-bottom: 0;
  font-size: 2.2rem;
}

/*--------------------------------------------------------------
Community Workshops Card
--------------------------------------------------------------*/

#workshop h2 {
  padding: 1.5rem 2.5rem;
  margin-top: 5rem;
}

.wscards {
  display: flex;
  flex-flow: column wrap;
  gap: 2.6rem;
}

.wscard {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: baseline;
  background-color: rgba(227, 247, 241, 0.25);
  padding: 2rem 2.5rem;
  gap: 1.5rem;
}

div.wscards > article:nth-of-type(odd) {
  background-color: rgba(250, 250, 250, 0.9);
}

.wscard h3 {
  margin-top: 1rem;
  font-weight: var(--bold);
}

.wscard p {
  font-size: 1.5rem;
}

.wscard a {
  color: white;
  font-size: 1.6rem;
  padding: 1rem;
  background-color: #005866;
  text-align: center;
}

.wscard-img {
  height: 204px;
}

.wscard-img img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.wscard h3 {
  margin-bottom: 0;
  font-size: 2.2rem;
}

/*--------------------------------------------------------------
Call to Action - We're here to help you
--------------------------------------------------------------*/

#cta {
  display: flex;
  flex-flow: column wrap;
  margin-top: 6rem;
  background-color: var(--mint);
  padding: 1.5rem 2.5rem 2.5rem;
  text-align: center;
}

#cta h2 {
  margin: 1.5rem 0;
}

#cta p,
#cta a {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: var(--bold);
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}

/* btn with animated caret */

.arrow-btn {
  font-family: var(--semi);
  font-size: 17px;
  text-decoration: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  background-color: #005866;
}

.arrow-btn:after {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='%23005866' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  height: 12px;
  width: 6px;
  transition: 250ms all ease;
  margin-top: 0.45rem;
  content: ' ';
  margin-left: 1.2rem;
}

.arrow-btn.white:after {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='%23FFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.arrow-btn:hover:after {
  transform: translateX(10px);
}

/* Feel free to add or remove as needed */
@media screen and (min-width: 1200px) {
  #hero {
    position: relative;
  }

  .hero-text {
    width: 100%;
    max-width: 656px;
    position: absolute;
    top: -38rem;
    right: 0;
  }

  .hero-image {
    width: 100%;
    max-width: 1073px;
  }

  #hero img {
    object-fit: cover;
  }
}
@media screen and (min-width: 992px) {
  .wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
  }
  .ohcards {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
  }

  .ohcards > * {
    flex: 1 0;
  }

  .wkcards {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  .wkcards > * {
    flex-grow: 1;
    max-width: 48.5%;
  }

  .wkcard {
    flex-basis: 100%;
  }

  .wkcard-img {
    width: 100%;
    height: auto;
  }

  .wscards {
    display: flex;
    flex-flow: row nowrap;
    gap: 2.6rem;
  }

  .wscards > * {
    flex: 1 0 30%;
  }

  .wscard-img {
    width: 100%;
    height: auto;
  }

  .wscard-img img {
    object-fit: cover;
    object-position: center center;
  }

  #hero {
    position: relative;
  }

  .hero-text {
    width: 100%;
    max-width: 558px;
    position: absolute;
    top: -38rem;
    right: 0;
    z-index: 4;
  }

  .hero-image {
    width: 100%;
    height: 500px;
    z-index: 1;
  }

  #hero img {
    object-fit: cover;
    object-position: left bottom;
    height: 100%;
  }
}
