:root {
  --mint: #e3f7f1;
  --teal: #005866;
  --text: #242424;
  --gray: #d9d8d6;
  --light: #e5e5e5;
  --off: #fafafa;
  --bold: 'Roobert-Bold', sans-serif;
  --semi: 'Roobert-SemiBold', sans-serif;
}

a {
  color: #005866;
}

#s4-workspace {
  overflow-x: hidden;
  height: 100%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  line-height: 1.6;
  color: var(--text);
}

.row.justify-content-center {
  display: flex;
  justify-content: center;
}

.btn {
  font-family: var(--semi);
  font-size: 16px;
  text-decoration: none !important;
  transition: 250ms all ease;
  min-width: 160px;
}

.btn.btn-lg {
  font-size: 18px;
}

.btn.btn-primary.white {
  background-color: #fff;
  color: #005b66;
  border-color: #fff;
}

.btn.btn-primary.white:hover {
  background-color: transparent;
  color: #fff;
}

.btn.btn-primary.disabled {
  color: var(--text);
  background-color: var(--gray);
  border-color: transparent;
  opacity: 1;
}

.arrow-btn {
  font-family: 'RoobertTRIAL-SemiBold';
  font-size: 17px;
  text-decoration: none !important;
  display: flex;
  align-items: center;
}

.arrow-btn:after {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='%23005866' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  height: 12px;
  width: 6px;
  transition: 250ms all ease;
  margin-top: 0.45rem;
  content: ' ';
  margin-left: 1.5rem;
}

.arrow-btn.white:after {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='%23FFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.arrow-btn.white:hover {
  color: #fff;
}

.arrow-btn-white {
  font-family: 'RoobertTRIAL-SemiBold';
  font-size: 1.8rem;
  text-decoration: none !important;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  max-width: 200px;
}

.arrow-btn-white:after {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  height: 12px;
  width: 6px;
  transition: 250ms all ease;
  margin-top: 0.45rem;
  content: ' ';
  margin-left: 1.5rem;
}

.arrow-btn-white.white:hover {
  color: #fff;
}

.arrow-btn-white:hover:after {
  transform: translateX(10px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-top: 0;
}

p {
  line-height: 1.6 !important;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

strong {
  font-weight: 700;
}

p a {
  font-family: 'RoobertTRIAL-SemiBold';
  text-decoration: underline;
}

#banner {
  background-color: #ffdd00;
  padding: 0.75rem 0;
  font-family: 'RoobertTRIAL-SemiBold';
}

#banner p {
  margin: 0;
}

#masthead {
  padding: 5rem 0;
  position: relative;
}

#masthead h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

#masthead .button-date {
  margin: 2rem 0;
  display: flex;
  align-items: center;
}

#masthead .button-date .date {
  margin-left: 2rem;
  font-family: var(--bold);
}

#masthead .container {
  z-index: 2;
  position: relative;
}

#masthead .row {
  display: flex;
  position: relative;
  align-items: flex-end;
}

#masthead .content {
  /* background: rgba(0, 91, 102, 0.9);
        color: #fff !important;
        padding: 4rem;
        backdrop-filter: blur(20px);
        position: relative;
        z-index: 2; */

  background: rgba(0, 91, 102, 0.9);
  color: #fff !important;
  padding: 3.6rem;
  backdrop-filter: blur(20px);
  position: relative;
  z-index: 2;
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  max-width: 593px;
  margin: 0;
}

#masthead .content > * {
  width: 100%;
  flex-grow: 1;
}

#masthead .down-arrow {
  position: absolute;
  bottom: -3rem;
  color: #003b42;
  font-weight: 600;
}

#masthead .image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 680px;
  width: 100%;
  max-width: 908px;
  z-index: 1;
}

#masthead .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#masthead p a {
  color: #fff;
}

.title-row {
  display: flex;
  margin-bottom: 2rem;
}

.title-row h1 {
  width: 500px;
  font-size: 3rem;
}

.title-row .details {
  width: 300px;
  border-left: 1px solid #fff;
  padding-left: 3rem;
}

.details,
.details .stat {
  display: flex;
  flex-direction: column;
}

.contact-info {
  margin-bottom: 4.5rem;
  padding: 2rem;
  background-color: var(--off);
}

.contact-info h3 {
  margin-bottom: 2rem;
}

#intro {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  align-items: center;
}

#intro h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

#intro img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#intro .content {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  padding: 4rem;
  width: 100%;
  margin-left: -400px;
}

#be-heard {
  display: flex;
  margin-top: 5rem;
  align-items: center;
}

#be-heard h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

#be-heard img {
  width: 40%;
  height: 500px;
  object-fit: cover;
}

#be-heard .content {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  padding: 4rem;
  width: 100%;
}

.notice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 639px;
  background-color: var(--off);
  margin-top: 5rem;
  margin-bottom: -15rem;
  padding: 4rem;
  position: relative;
  z-index: 2;
}

#map {
  margin: 9rem 0 6rem;
  position: relative;
  text-align: center;
}

#map h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

#map h3 {
  font-size: 3rem;
  margin: 2rem 0 5rem;
}

#map .text-center {
  margin-bottom: 3rem;
}

#map .d-flex {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0 5rem;
  background-color: var(--off);
  padding: 3rem;
}

#map .d-flex p {
  width: 70%;
  margin-bottom: 0;
  text-align: left;
}

#map .map-link-large,
#map .map-link-small {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

#map .map-link-large img,
#map .map-link-small img {
  opacity: 1;
  transition: 250ms all ease;
}

#map .map-link-large img {
  margin-bottom: 2rem;
}

#map .map-link-small img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

#map .map-link-large {
  margin-bottom: 5rem;
}

#map .map-link-large:hover,
#map .map-link-small:hover {
  text-decoration: none;
}

#map .map-link-large:hover img,
#map .map-link-small:hover img {
  opacity: 1;
}

#map .map-link-large:hover .arrow-btn:after,
#map .map-link-small:hover .arrow-btn:after {
  transform: translateX(10px);
}

#map .map-link-small .content {
  background-color: var(--off);
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 250ms all ease;
}

#map .map-link-small:hover .content {
  background-color: var(--mint);
}

#map .map-link-small .content h6 {
  color: var(--text);
  font-size: 1.5rem;
}

#map #square {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
}

#open-house {
  margin: 10rem 0 5rem;
  position: relative;
}

#open-house h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
  max-width: 300px;
  margin-left: 0;
}

#open-house .image-text {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

#open-house .image-text .image {
  height: 400px;
}

#open-house .image-text .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#open-house .btn.disabled {
  margin: 1rem 0 0;
}

#open-house .button-date {
  margin: 2rem 0 3rem;
  display: flex;
  align-items: center;
}

#open-house .button-date .date {
  margin-left: 2rem;
  font-family: var(--bold);
}

#timeline {
  background-color: var(--mint);
  padding: 15rem 0 10rem;
  position: relative;
  margin-top: 5rem;
  margin-bottom: 0 !important;
}

#timeline #circle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#timeline h2 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 5rem;
}

#timeline .timeline .milestone:before {
  content: '';
  height: 100%;
  width: 2px;
  background-color: var(--teal);
  display: block;
  position: absolute;
  left: 191px;
  margin: auto;
}

#timeline .timeline .milestone {
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 5rem;
}

#timeline .timeline .milestone.current {
  font-family: var(--bold);
}

#timeline .timeline .milestone.current:after {
  background-color: #6ed7b7;
}

#timeline .timeline .milestone:last-of-type:before {
  content: none;
}

#timeline .timeline .milestone .date {
  font-family: var(--bold);
  text-align: right;
  width: 100px;
  display: block;
}

#timeline .timeline .milestone:after {
  content: ' ';
  position: absolute;
  display: block;
  background-color: var(--teal);
  height: 24px;
  width: 24px;
  border-radius: 25px;
  left: 180px;
  top: 0;
}

#timeline .timeline .milestone .description {
  margin-left: 100px;
  width: 412px;
}

.accordion-toggle {
  cursor: pointer;
  padding: 2rem;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
}

.accordion-toggle .button {
  position: relative;
  width: 16px;
  height: 16px;
  /* Vertical line */
  /* horizontal line */
}

.accordion-toggle .button:before,
.accordion-toggle .button:after {
  content: '';
  position: absolute;
  background-color: #d7d7d7;
  transition: transform 0.25s ease-out;
}

.accordion-toggle .button:before {
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
}

.accordion-toggle .button:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  margin-top: -1px;
}

.accordion-toggle.active {
  color: #005b66;
}

.accordion-toggle.active .button {
  cursor: pointer;
}

.accordion-toggle.active .button:before {
  transform: rotate(90deg);
}

.accordion-toggle.active .button:after {
  transform: rotate(180deg);
}

.accordion-toggle.active .button:before,
.accordion-toggle.active .button:after {
  background-color: #005b66;
}

.accordion-toggle div {
  display: inline-block;
  font-weight: 400;
}

.accordion-content {
  display: none;
  margin-bottom: 3rem;
  padding: 2rem;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.4);
}

@media screen and (min-width: 1200px) {
  .h1-scroll-div {
    background-color: #f1f1f1;
    margin: 0 auto;
    padding: 1rem;
  }
}

@media screen and (min-width: 1199px) {
}

@media screen and (min-width: 991px) {
  #open-house .image-text {
    flex-direction: column-reverse;
  }

  #open-house h2 {
    margin-top: 3rem;
  }

  #masthead {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  #masthead h2 {
    font-size: 2.5rem;
  }

  .title-row h1 {
    width: 60%;
    padding-right: 4rem;
  }

  .title-row .details {
    width: 40%;
  }

  #masthead .row {
    flex-direction: column;
  }

  #masthead .image {
    width: 100%;
    position: relative;
    height: 400px;
  }

  #masthead .content {
    margin-top: -10rem;
  }

  .row.justify-content-center {
    display: block;
  }

  .contact-info {
    text-align: center;
  }

  #map .d-flex {
    flex-direction: column;
    text-align: center;
    margin-bottom: 1rem;
  }

  #map .d-flex p {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  #intro img {
    position: relative;
    height: 350px;
    width: 75%;
  }

  #intro .content {
    margin-top: -4rem;
  }

  #timeline .timeline .milestone:before {
    left: 10px;
  }

  #timeline .timeline .milestone:after {
    left: -1px;
  }

  #timeline .timeline .milestone {
    padding-left: 4rem;
    flex-direction: column;
  }

  #timeline .timeline .milestone .date {
    width: 100%;
    text-align: left;
  }

  #timeline .timeline .milestone .description {
    margin-left: 0;
  }

  #timeline .timeline .milestone .description {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .tips .tip .content {
    padding: 2rem 3rem;
  }

  .tips .tip .content p {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  #open-house .image-text .image {
    height: 300px;
  }
}

@media screen and (max-width: 575px) {
  #masthead .button-date {
    align-items: flex-start;
    flex-direction: column-reverse;
  }

  #masthead .button-date .date {
    margin-left: 0;
  }

  .title-row {
    flex-direction: column;
  }

  .title-row h1 {
    width: 100%;
    padding-right: 0;
    font-size: 2.5rem;
  }

  .title-row .details {
    width: 100%;
    padding-left: 0;
    border: none;
    flex-direction: row;
  }

  .title-row .details .stat:first-of-type {
    margin-right: 2rem;
  }

  #masthead {
    margin-bottom: 0;
  }

  #masthead .image {
    width: 100%;
    height: 400px;
  }

  #map h2,
  #open-house h2,
  #timeline h2 {
    font-size: 2.5rem;
  }

  #map .map-link-large img,
  #map .map-link-small img {
    height: 220px;
  }
}

@media screen and (max-width: 1200px) {
  .content {
    width: 100%;
    max-width: 593px;
    margin-left: -100px;
  }
}

@media screen and (max-width: 992px) {
  #masthead .content {
    margin-top: -100px;
    max-width: 100%;
    width: 100%;
  }

  .contact-info {
    width: 100%;
  }

  #intro .content {
    margin-left: -100px;
  }
}

.content > * {
  width: 100%;
}

.energize-heading {
  font-size: 2.4rem !important;
  margin: 3.6rem 0 !important;
}

.corridor-heading {
  font-size: 2.2rem !important;
  margin: 2.5rem 0 !important;
}

.cta-register {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  margin-top: 3rem;
}

.cta-register h3 {
  font-size: 2rem;
  flex-grow: 2;
  width: 100%;
}

.cta-register a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
  color: var(--teal);
  font-size: 1.5rem;
  font-weight: 600;
  flex-grow: 1;
  width: 300px;
  height: 48px;
}

.drop-shadow {
  text-shadow: -2px 2px rgba(0, 0, 0, 0.25);
}

.custom-link {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--teal);
  text-decoration: none;
}

.custom-link:hover {
  text-decoration: none;
}

.planning {
  display: flex;
}

.cta-listen {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.btn-register {
  display: flex;
  justify-content: center;
  background-color: #005866;
  color: white;
}

.btn-register:hover {
  color: white;
}

.listen-text {
  color: var(--text);
  font-weight: 600;
}

.notice-btn {
  margin-top: 1.8rem;
}

.date,
.description {
  font-weight: 600;
  font-size: 1.6rem;
}

.cta-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
}

.cta-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.35);
  width: 100%;
  max-width: 550px;
  padding: 2rem;
}

.cta-bottom h2 {
  font-size: 2.2rem !important;
  margin-bottom: 1.8rem !important;
  margin-top: 1rem;
}

.cta-bottom p {
  font-size: 1.6rem;
  margin: 0 0 2px !important;
}

.cta-bottom a {
  font-size: 1.6rem;
}

#masthead .container {
  width: 100%;
}
.title-row .details {
  margin-top: 1rem;
}
